<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/925c7224-75e1-44d3-bd51-a57e202575b1/resourceGroups/mitocode/providers/Microsoft.Web/sites/mitoproductsapi</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mitoproductsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>66f36d51-d867-43f9-aa5a-71a8fcecfe94</ProjectGuid>
    <PublishUrl>https://mitoproductsapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$mitoproductsapi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>